body{
    margin: 1% 6% 0 6%;
    background: #E8E8E8;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#caja-logo, #caja-instrucciones{
    display: inline-flex;
    vertical-align: middle;
}

#logo{
    width: 17%;
}

#instructions{
    margin-left: 600%;
    border: none;
    background: rgb(205, 202, 250);
    border-radius: 50%;
    padding: 13%;
}

#informacion-instrucciones{
    background: black;
    color: white;
    margin: 5% 10% 0 0;
    padding: 1%;
    position: fixed;
    display: none;
}

.caja-pegar{
    display: inline-flex;
}

#boton-pegar{
    background:#050035;
    color: antiquewhite;
    border-radius: 50%;
    width: 100%;
    height: 38px;
    border: none;
}

#input{
    display: inline-flex;
}

#usuario, #textoNuevo{
    color: #080053;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style:oblique;
    letter-spacing: 1.5px;
}

.parrafos{
    letter-spacing: 1.5px;
    font-style: italic;
    margin: 0 0 4% 0;
    color: #050035;
}

#ingresado{
    margin: 2% 0 0 0;
    display: inline-block;
    vertical-align: top;
    width: 65%;
}

#usuario{
    margin: auto;
    width: 500px;
    height: 200px;
    padding: 7%;
    background: none;
    border: none;
    outline: none;
    resize: none;
}

#caja-botones{
    display: inline-block;
    margin: 3% 0 0 25%;
}

#caja-botones p{
    margin: 0 0 5% 0;
}

#encriptar{
    background: #0a3871;
    color: white;
    margin: 0 6px 0 0;
}

#desencriptar{
    margin: 0 0 0 6px;
    background: #609ED4;
    color: white;
}

#encriptar, #desencriptar{
    display: inline-block;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#resultado{
    background: white;
    float: inline-end;
    width: 23%;
    height: 450px;
    text-align: center;
    border-radius: 30px;
    margin: 0 12% 0 0;
}

#sinresultado{
    display:block;
}

#muneco{
    margin: 40% 0 15% 0;
    width: 70%;
}

#caja-textonuevo{
    margin: 10%;
    text-align: left;
}

#textoNuevo{
    display: none;
    background: none;
    border: none;
    resize: none;
    width: 106%;
    height: 360px;
}

#botones-resultado{
    display: none;
}

#botones-resultado button{
    background: black;
    color: white;
    border: none;
    font-style: normal;
    border-radius: 5px;
    width: 30%;
    height: 20px;
    margin: 0 2% 0 2%;
}

#rodapie{
    text-align: center;
    margin: 3% 0 0 0;
    font-size: 13px;
    color: black;
}


@media screen and (max-width: 480px) {

    body{
        position: relative;
        width: 70%;
        margin: 0 auto;
    }

    .parrafos{
        letter-spacing: 0;
        margin: 0.1%;
        font-size: 13px;
    }

    #logo{
        position: relative;
        width: 15%;
        margin: 5% 20% 2% 40%;
    }

    #ingresado{
        margin: 2%;
        width: 100%;
    }

    #usuario{
        margin: 0;
        width: 100%;
        height: 150px;
        padding: 0;
    }

    #caja-botones{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    
    #caja-botones p{
        margin: 5% 0 5% 0;
        font-size: 11px;
    }

    #encriptar{
        margin: 0 1% 0 15%;
    }
    
    #desencriptar{
        margin: 0 2% 0 2%;
    }
    
    #encriptar, #desencriptar{
        width: 75px;
        height: 30px;
        border-radius: 10px;
    }

    #resultado{
        float: none;
        width: 100%;
        height: 180px;
        text-align: center;
        border-radius: 30px;
        margin: 0 auto;
    }
    
    #muneco{
        margin: 0 auto;
        width: 40%;
    }

    #caja-textonuevo{
        width: 100%;
        height: 150px;
        margin: 0 auto;
    }
    
    #textoNuevo{
        margin: 0 auto;
        width: 85%;
        height: 140px;
    }
    
    #rodapie{
        margin: 4% auto;
        font-size: 10px;
    }



}